include ../dialog/dialog

doctype html
html
  title example
  meta(charset="utf-8")
  link(rel="stylesheet" href="../build/progress/progress.css")
  link(rel="stylesheet" href="../build/dialog/dialog.css")
  link(rel="stylesheet" href="../build/dialog/slide.css")
  link(rel="stylesheet" href="../build/popup/popup.css")
  link(rel="stylesheet" href="../build/slide/slide.css")

  body
    div
      button(onclick="dialog('d1').show()") dialog1
      button(onclick="dialog('d2').show()") dialog2
      button(onclick="dialogSlide('d3').show()") dialog3

      +dialog('d1', 'fade', 'btn1', 'hello, world!')
      +dialog('d2', 'scale', 'btn2', ['one', 'two'])
      +dialogSlide('d3', 'slide', 'btn3', ['one', 'tow'])

    div
      button(onclick="pop('fade')") pop fade
      button(onclick="pop('scale')") pop scale

      div.com-popup
        div pop pop pop

    div
      div.com-progress
        div.percent

    div
      div#slide1.com-slide
        div.content +1

    div
      div#slide2.com-slide-show-hide
        div golang
        div nodejs
        div python
        div react
        div jade
        div js

    div
      h3 uploader
      div.drop
      input(type="file" id="uploader-file")
      button(onclick="upload()") upload

    div.canvases

    style.
      body {
        height: 600px;
      }

      .btn {
        display: block;
        width: 60px;
        height: 30px;
        background: green;
      }

      .com-slide-show-hide {
        background: green;
      }

      .drop {
        background: gray;
        width: 250px;
        height: 250px;
      }

    script(src="../build/dest/index.js")
