include ../dialog/dialog

doctype html
html
  title example
  meta(charset="utf-8")
  link(rel="stylesheet" href="../build/dialog/dialog.css")
  link(rel="stylesheet" href="../build/dialog/slide.css")

  body
    div
      button(onclick="dialog('d1').show()") dialog1
      button(onclick="dialog('d2', { click2hide: true }).show()") dialog2
      button(onclick="dialogSlide('d3').show()") dialog3

      +dialog('d1', 'fade', 'btn1', 'hello, world!')
      +dialog('d2', 'scale', 'btn2', ['one', 'two'])
      +dialogSlide('d3', 'slide', 'btn3', ['one', 'tow'])

    div
      h3 uploader
      div.drop
      input(type="file" id="uploader-file")
      button(onclick="upload()") upload

    div.canvases

    style.
      body {
        height: 600px;
      }

      .btn {
        display: block;
        width: 60px;
        height: 30px;
        background: green;
      }

      .drop {
        background: gray;
        width: 250px;
        height: 250px;
      }

    script(src="../build/dest/index.js")
