@import "mixin";

$duration: 500ms;

.com-dialog {
  @include background;
  display: none;
  transition: opacity $duration;

  &.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content {
    @include content;

    .btn {
      display: inline-block;
    }

    // fade
    &.fade {
      transition: opacity $duration;
      opacity: 0;
      &.show {
        opacity: 1;
      }
      &.hide {
        opacity: 0;
      }
    }

    // scale
    &.scale {
      transition: transform $duration;
      transform: scale(0);
      &.show {
        transform: scale(1);
      }
      &.hide {
        transform: scale(0);
      }
    }
  }
}
