
mixin dialog(id, type, btn, texts)
  - if (typeof texts === 'string') { texts = [texts] }
  div.com-dialog(id="#{id}")
    div.content(class="#{type}")
        each text in texts
          div= text
        span.btn(onclick="dialog('#{id}').hide()")= btn
