include ../dialog

doctype html
html
  title example
  meta(charset="utf-8")
  link(rel="stylesheet" href="../dialog.css")
  script(src="../dialog.js")
  style.
    body {
      height: 600px;
    }

    .btn {
      display: block;
      width: 60px;
      height: 30px;
      background: green;
    }
  body
    button(onclick="show('d1')") dialog1
    button(onclick="show('d2')") dialog2
    button(onclick="show('d3')") dialog3

    +dialog('d1', 'fade', 'btn1', 'hello, world!')
    +dialog('d2', 'scale', 'btn2', ['one', 'two'])
    +dialog('d3', 'slide', 'btn3', ['one', 'tow'])

    script.
      function show(id) {
        dialog(id).show();
      }
